@model jewellery_project.Models.User
@{
    ViewBag.Title = "contact_us";
    Layout = "~/Views/Shared/Usermaster.cshtml";
}


@using (Html.BeginForm("contact_us", "User_new", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{


    <div class="banner-top">
        <div class="container">
            <h1>Contact</h1>
            <em></em>
            <h2><a href="@Url.Action("Home","User_new")">Home</a><label>/</label>Contact</h2>
        </div>
    </div>

    <div class="contact">

        <div class="contact-form">
            <div class="container">
                <div class="col-md-6 contact-left">
                    <h3>Please fill out the Quick Form and We will be in touch With the lightening Speed.</h3>
                   


                    <div class="address">
                        <div class=" address-grid">
                            <i class="glyphicon glyphicon-map-marker"></i>
                            <div class="address1">
                                <h3>Address</h3>
                                <p>
                                    JB Tower,nr. Saal Hospital, Ahmedabad
                                </p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class=" address-grid ">
                            <i class="glyphicon glyphicon-phone"></i>
                            <div class="address1">
                                <h3>
                                    Our Phone:<h3>
                                        <p>7856532555</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class=" address-grid ">
                            <i class="glyphicon glyphicon-envelope"></i>
                            <div class="address1">
                                <h3>Email:</h3>
                                <p> Maxgentexhnology@example.com</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class=" address-grid ">
                            <i class="glyphicon glyphicon-bell"></i>
                            <div class="address1">
                                <h3>Open Hours:</h3>
                                <p>Monday-Friday, 7AM-5PM</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 contact-top">
                    <h3>Want to work with me?</h3>
                    <form>
                        <div>
                            <span>Your Name </span>
                            @*<input type="text" value="">*@
                            @Html.TextBoxFor(m => m.name, new {@required="" })
                        </div>
                        <div>
                            <span>Your Email </span>
                            @*<input type="text" value="">*@
                            @Html.TextBoxFor(m => m.email, new { @required = "" })
                            <p style="color:red">@ViewBag.email</p>


                        </div>
                        <div>
                            <span>Subject</span>
                            @*<input type="text" value="">*@
                            @Html.TextBoxFor(m => m.subject, new { @required = "" })


                        </div>
                        <div>
                            <span>Your Message</span>
                            @*<textarea> </textarea>*@
                            @Html.TextAreaFor(m => m.message, new { @required = "" })


                        </div>
                        <label class="hvr-skew-backward">
                            <input type="submit" value="Send">
                        </label>
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
       
    </div>

   <br />
    <br />
}
